<%- include('./partials/header.ejs')%>


<h1 class='title'>Add A filter</h1>
<h3><%=message%></h3>
<div class="content-container">
	<div class="card mt-10" style="width: 35rem;">
  <img id="mainPic" src="" class="card-img-top" alt="...">
  <div class="card-body" style="">
    <div class="row justify-content-between">

		<button name='filter' value='e_art:audrey' id='audrey' class="fil btn btn-secondary col-6 col-xl-2 col-lg-4">Audrey</button>
		<button name='filter' value='e_art:red_rock' id='audrey' class="fil btn btn-warning col-6 col-xl-2 col-lg-4">Red Rock </button>
		<button name='filter' value='e_art:frost' id='audrey' class="fil btn btn-primary col-6 col-xl-2 col-lg-4">Frost </button>
		<button name='filter' value='e_art:sizzle' id='audrey' class="fil btn btn-danger col-6 col-xl-2 col-lg-4">Sizzle </button>
		<button name='filter' value='' id='audrey' class="fil btn btn-danger col-6 col-xl-2 col-lg-4">Normal </button>
		
	</div>
	<div class="row justify-content-center">
		<div class="col-3">
			<form method="POST" action="/articles/filter/<%=objectId%>?_method=PUT">
				<button id='filter' name="filter" value="" class='btn btn-primary'>Submit</button>
			</form>
		</div>
	</div>
  </div>
</div>
	
</div>

<script type="text/javascript">
	
$('#mainPic').attr('src', `<%=cloudUrl%>/<%=imageId%>`)
$('button').click((e) => {

	const filter = $(e.target).val()
	const filteredUrl = `<%=cloudUrl%>${filter}/<%=imageId%>`
	$('#mainPic').attr('src', filteredUrl)
	const finalUrl = $('#filter').val(filter)

})

</script>


<%- include('./partials/footer.ejs')%>
