<%- include('../partials/header.ejs')%>


<h1>User Profile</h1>

<div class="card mt-10" style="width: 40rem;" >
	<img src="<%=imageUrl%>" class="card mt-10" style="height: 30rem;">
	<div class="card-body">
		<h3 class="card-title"><%=user.firstName%> <%=user.lastName%></h3>
		<h5 class="card-title">From: <%=user.city%></h5>
	</div>
	
	<div class="card-body">
		<p class="card-title">About: <%=user.about%></p>
	</div>
	<div class="card-body">
		<p class="card-title">Favorite Place: <%=user.favoritePlace%></p>
		<a href="#" class="btn btn-primary">My Photos</a>
		<a href="#" class="btn btn-primary">Edit Profile</a>
		<button>Delete Profile</button>
	</div>
</div>

<%- include('../partials/footer.ejs')%>