<%- include('../partials/header.ejs')%>


<div class="content-container">
	<div class="card mt-10" style="width: 37%;" >
	<img src="<%=imageUrl%>" style='height: 50vh;'>
	<div class="card-body">
		<div class="row justify-content-center ">
	
	<h3 class="card-title col-5 col-md-8"><%=user.firstName%> <%=user.lastName%></h3>
	</div>
	<div class=" row justify-content-center">
		<h5 class="card-title col-3 col-md-5"><%=user.city%></h5>
	</div>
	
	<div class="row">
		<p class="card-title"><strong class='mr-2'>About:</strong> <%=user.about%></p>
	</div>
	<div class="row">
		<p class="card-title"><strong class='mr-2'>Favorite Place:</strong> <%=user.favoritePlace%></p>
	</div>
	<div class="row justify-content-between">
	<a href="#" class="btn btn-primary col-6 col-xl-3 col-lg-4 ">My Articles</a>
		<a href="/users/profile/<%=user.id%>/edit" class="btn btn-primary col-6 col-xl-3 col-lg-4">Edit</a>
		<form class='col-6 col-xl-3 col-lg-4' method="POST" action="/users/profile/<%=user._id%>?_method=DELETE">
			<button class='btn btn-danger'>Delete</button>
		</form>
	</div>
</div>


	</div>

	

</div>



<%- include('../partials/footer.ejs')%>