<%- include('../partials/header.ejs')%>


<h3  class='message'><%=message%></h3>
<div class="article-container">
	
<% for(let i = articles.length-1; i >= 0; i--) {%>
				
<div class="card article card-round card-main" style="width: 30rem;">
	<a href="/articles/<%=articles[i].id%>" >
	<img src="<%=!articles[i].imageUrl ? cloudinary.url(articles[i].imageId) : articles[i].imageUrl%>" class="card-img-top" alt="..."> 
		
	</a>
  <div class="card-body">
  	<p><%=articles[i].title%></p>
  	<small class='signature'>By: <%=articles[i].author ? `${articles[i].author.firstName} ${articles[i].author.lastName}` : 'Author Deleted' %></small>
  	<small><%=articles[i].date.toLocaleString()%></small>
  	<div class="row">
      <div class="col">
        <small>Likes: <%=articles[i].likes.length%></small>
        <form method="POST" action="/articles/likes/<%=articles[i]._id%>?_method=PUT">
          
        </form>
      </div>
    </div>
  </div>
</div>
	
<%}%>


</div>


<%- include('../partials/caption.ejs')%>
<%- include('../partials/footer.ejs')%>