<%- include('../partials/header.ejs')%>


<h1>See All The Details About This Trip</h1>

<div class="card mt-10" style="width: 35rem;">
  <img src="<%=imageUrl%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"><%=image.title%></h3>
    <p class="card-title"><%=image.description%></p>
    <p class="card-title"><%=image.tips%></p>
    <a href="#" class="btn btn-primary">Edit</a>
    <button>Delete</button>
  </div>
  <div class="card-body">
  	<p class="card-title"><%=image.comments%></p>
  </div>
</div>


<%- include('../partials/footer.ejs')%>
