<%- include('../partials/header.ejs')%>


<h1 class='title'>See The World</h1>
<div class="content-container">
   <div class="side-container">
     <div class="map">
       <iframe width="350"
           height="300"
           frameborder="0" style="border-radius: 10px;"
           src="<%=mapUrl%>" allowfullscreen>
  
        </iframe>

     </div>

   </div>
    <div class="card mt-10 card-round" style="width: 35rem;">
  <img src="<%=!article.imageUrl ? cloudinary.url(article.imageId) : article.imageUrl%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"><%=article.title%></h3>
    <h5 class="card-title"><%=article.location%></h5>
    <p class="card-title"><%=article.description%></p>
    <p class="card-title"><%=article.tips%></p>
     <p class="card-title">By: <%=article.author ? `${article.author.firstName} ${article.author.lastName}` : 'Author Deleted' %></p>
    <div class="row justify-content-between"> 
      <% if (foundAuthor) { -%>
      <a href="/articles/<%=article._id%>/edit" class="btn btn-primary col-6 col-xl-3 col-lg-4">Edit</a>
      <form class='col-6 col-xl-3 col-lg-4' method="POST" action="/articles/<%=article._id%>?_method=DELETE">
      <button class='btn btn-danger'>Delete</button>
      </form>
      <% } -%>

  </div>
   
    <div class="row">
      <div class="col">
        <label>Likes: <%=article.likes.length%></label>
        <form method="POST" action="/articles/likes/<%=article._id%>?_method=PUT">
          <button>Like</button>
          
        </form>
      </div>
    </div>


  </div>
 
</div>
 <div class="side-container">
  <%if (article.author) {%>
     <div class="map">
       <div class="card card-round" style="width: 15rem;">
        <img src="<%=!article.author.imageUrl ? cloudinary.url(article.author.imageId) : article.author.imageUrl%>" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><%=article.author.firstName%></h5>
        <p class="card-text"><%=article.author.city%></p>
       <a href="/users/<%=article.author._id%>/articles" class="btn btn-primary col-12 ">More By <%=article.author.firstName%></a>
  </div>
  <%}%>
</div>
       
     </div>

   </div>
</div>

<form id="comments-form" method="POST" action="/comments/<%=article._id%>">
  <div class="comments-container">
    <div class="card">
      <div class="card-body">
        
      <div class="row">
        <div class="col">
          <textarea id="comments-text" name="commentText" placeholder="Enter comment"></textarea>
          
        </div>
      </div>
       <div class="row justify-content-center">
        <div class="col-3">
          <button class="btn btn-primary">Submit</button>
          
        </div>
      </div>
      
    </div>
      </div>
</form>
   
    
  </div>
   
    <%article.comments.forEach( comment => {%>
      <div class="comments-container">
      <div class="card">
        <div class="body" style='width: 25rem'>
          <!-- add styling with bootstrap rows/cols -->
          <ul>
            <li><%=comment.text%></li>
            <li><small class='comment-divider'><%=comment.date.toLocaleString()%></small></li>
            <%if (comment.user) {%>
            <li><small><a href="/users/<%=comment.user._id%>"><%=comment.user.firstName%></a></small></li>
           <%} else {%>
            <li><small>User Deleted</small></li>
           <%}%>
            <!-- we need to deep populate to get the comment author -->
          </ul>
          </div>  

      </div>

    </div>

          <%})%>





<script type="text/javascript">
   $('#comments-form').submit( (e) => {
  
  const textArea = $('#comments-text').val()
 
  if (textArea === ''){

    e.preventDefault()
  }


  
})  

</script>


<%- include('../partials/footer.ejs')%>
