<%- include('../partials/header.ejs')%>


<h1 class='title'>See The World</h1>
<div class="content-container">
    <div class="card mt-10" style="width: 35rem;">
  <img src="<%=imageUrl%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"><%=article.title%></h3>
    <h5 class="card-title"><%=article.location%></h5>
    <p class="card-title"><%=article.description%></p>
    <p class="card-title"><%=article.tips%></p>
     <p class="card-title">By: <%=article.author ? `${article.author.firstName} ${article.author.lastName}` : 'Author Deleted' %></p>
    <div class="row justify-content-between"> 
      <% if (foundAuthor) { -%>
      <a href="/articles/<%=article._id%>/edit" class="btn btn-primary col-6 col-xl-3 col-lg-4">Edit</a>
      <form class='col-6 col-xl-3 col-lg-4' method="POST" action="/articles/<%=article._id%>?_method=DELETE">
      <button class='btn btn-danger'>Delete</button>
      </form>
      <% } -%>

  </div>
   
  </div>
  
</div>
</div>

<form method="POST" action="/comments/<%=article._id%>">
  <div class="comments-container">
    <div class="card">
      <div class="card-body">
        
      <div class="row">
        <div class="col">
          <textarea id="comments-text" name="commentText" placeholder="Enter comment"></textarea>
          
        </div>
      </div>
       <div class="row justify-content-center">
        <div class="col-3">
          <button class="btn btn-primary">Submit</button>
          
        </div>
      </div>
      
    </div>
      </div>
</form>
    <p class="card-title"><%=article.comments%></p>
    
  </div>


<script type="text/javascript">
  $('form').submit((e)=> {

    const textArea = $('#comments-text').text()
    if (!textArea ){
      console.log(textArea.parent().children().length);
      if (textArea.parent().children().length !== 2){
        textArea.parent().append('<small class="required">This Field Is Required</small>')
        
      }
      e.preventDefault()
    }
      
  })


</script>


<%- include('../partials/footer.ejs')%>
